<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dss886.transmis"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".listen.sms.SmsActivity"/>
        <activity android:name=".nofity.MailActivity"/>
        <activity android:name=".nofity.MailGunActivity"/>
        <activity android:name=".nofity.TelegramActivity"/>
        <activity android:name=".nofity.IftttWebhooksActivity"/>
        <activity android:name=".listen.call.CallActivity"/>
        <activity android:name=".filter.FilterActivity"/>

        <receiver
            android:name=".listen.sms.SmsListener"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".listen.call.CallListener">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>